<%- include('../mainpage/mainpage.ejs') %>
<div class="row" style="margin-left: 100px;">
    <div class="col-md-11 col-lg-11">
        <div class="main">
            <ul class="cards">
            <% for(const key in mercedes){ %> 
              <li class="cards_item">
                <div class="card">
                  <div class="card_image">
                   <% if(mercedes[key].length==1){%>
                    <div class="row">      
                      <img src="assets/images/logo.jpg" alt="No images Yet" />                                                   
                    </div>
                    <%}else{%>
                      <div class="row" style="padding-bottom: 30px;">
                        <% for(i in mercedes[key]){ %>
                          <div class="col-md-6 col-lg-6" style="margin-bottom:0%;padding: 0%;height: 130px;">
                            <img src="assets/images/<%- mercedes[key][i]['image_path'] %>"  alt="image"/>
                          </div>
                          <%}%>                                            
                      </div>
                    <%}%>
                  </div>
                  <div class="card_content">
                    <h2 class="card_title"></h2>
                    <div class="card_text">
                        <div class="row">                   
                            <p class="col-6 badge branch">Vin Number</p>
                            <p class="col-6 badge branch"><%- mercedes[key][0]['vin_number'] %></p>                  
                        </div> 
                        <div class="row">
                            <p class="col-6 badge branch"> Color </p>
                            <p class="col-6 badge branch"><%- mercedes[key][0]['color'] %></p>
                        </div>
                      <hr/>
                      <div class="row">
                        <p class="col-6 badge branch">Model</p>
                        <p class="col-6 badge branch"> <%- mercedes[key][0]['model'] %></p>
                     </div>
                     <div class="row">
                        <p class="col-6 badge branch">Year</p>
                        <p class="col-6 badge branch"><%- mercedes[key][0]['_year'] %></p>
                     </div>
                     <div class="row">
                        <p class="col-6 badge branch">Price</p>
                        <p class="col-6 badge branch"><%- mercedes[key][0]['price'] %></p>
                     </div>
                     <div class="row">
                        <p class="col-6 badge branch">Transmission</p>
                        <p class="col-6 badge branch"><%- mercedes[key][0]['transmission'] %></p>
                     </div>
                     <div class="row">
                      <p class="col-6 badge branch">Fuel</p>
                      <p class="col-6 badge branch"><%- mercedes[key][0]['fuel'] %></p>
                    </div>
                    <div class="row">
                      <p class="col-6 badge branch">Number Of Cylinders</p>
                      <p class="col-6 badge branch"><%- mercedes[key][0]['number_of_cylinders'] %></p>
                    </div>
                    <div class="row">
                      <p class="col-6 badge branch">Mileage</p>
                      <p class="col-6 badge branch"><%- mercedes[key][0]['mileage'] %></p>
                    </div>
                    <div class="row">
                      <p class="col-6 badge branch">Drive</p>
                      <p class="col-6 badge branch"><%- mercedes[key][0]['drive'] %></p>
                    </div>
                      <div class="row justify-content-center">
                        <% if(user_role=='user'){ %> <a href="/purchase?vin=<%- mercedes[key][0]['vin_number']  %>" class="btn btn-dark text-white">Purchase</a><%}%>
                      </div>
                     </div>
                    </div>
                  </div>
              </li>
              <% } %>
            </ul>
        </div>
    </div>   
</div> 


<script src="https://cdn.jsdelivr.net/npm/jquery@3.7.1/dist/jquery.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js"></script>