<%- include('../mainpage/mainpage.ejs') %>
<div class="main">
    <ul class="cards">
    <% for(i in branches){ %> 
      <li class="cards_item">
        <div class="card">
          <div class="card_image">
            <span class="note"><%- branches[i]['branch_number'] %></span>
            <img src="assets/images/logo.jpg" alt="mixed vegetable salad in a mason jar." />
          </div>
          <div class="card_content">
            <h2 class="card_title"><%- branches[i]['branch_name'] %></h2>
            <div class="card_text">
                <div class="row">                   
                    <p class="col-6"> <i class="fas fa-car icon"></i></p>
                    <p class="col-6 badge branch"> <%- branches[i]['total'] %></p>                  
                </div>
                <div class="row">
                    <p class="col-6"> <i class="fas fa-user icon"></i></p>
                    <p class="col-6 branch"> <%- branches[i]['first_name'] %> <%- branches[i]['last_name'] %></p>
                </div>
              <hr />
              <div class="row">
                <p class="col-6"><i class="fas fa-road icon"></i></p>
                <p class="col-6 branch"> <%- branches[i]['street_name'] %></p>
             </div>
             <div class="row">
                <p class="col-6"><i class="fas fa-city icon"></i></p>
                <p class="col-6 branch">  <%- branches[i]['city'] %></p>
             </div>
             <div class="row">
                <p class="col-6"><i class="fas fa-flag-usa icon"></i></p>
                <p class="col-6 branch">  <%- branches[i]['state'] %></p>
             </div>
             <div class="row">
                <p class="col-6"><i class="fas fa-code icon"></i></p>
                <p class="col-6 branch"> <%- branches[i]['zip_code'] %></p>
             </div>
            </div>
          </div>
        </div>
      </li>
      <% } %>
    </ul>
</div>