<%- include('../mainpage/mainpage.ejs',{role:user_role}) %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<div class="row justify-content-center">
  <div class="col-md-3 col-lg-3 card">
    <div class="row">
      <div class="col-md-1 col-lg-1">
        
      </div>
      <div class="col-md-1 col-lg-1">

      </div>
    </div>
  </div>
  <div class="col-md-3 col-lg-3 card">
    sales
  </div>
  <div class="col-md-3 col-lg-3 card">
    mercedes
  </div>
  <div class="col-md-3 col-lg-3 card">
    models
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-5 col-lg-5 m-1 card">
    <canvas id="chart1" style="width:100%;max-width:600px"></canvas>
  </div>
  <div class="col-md-5 col-lg-5 m-1 card">
    <canvas id="chart2" style="width:100%;max-width:600px"></canvas>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-5 col-lg-5 m-1 card">
    <canvas id="chart3" style="width:100%;max-width:600px"></canvas>
  </div>
  <div class="col-md-5 col-lg-5 m-1 card">
    <canvas id="chart4" style="width:100%;max-width:600px"></canvas>
  </div>
</div>

<script>
  const xBranch_names =  <%- JSON.stringify(branch_names) %>;
  const yBranch_values = [<%- branch_count %>];

  const xModel_names = <%- JSON.stringify(models) %>;
  const yModel_values = [<%- model_count %>];

  const xBranch_sale_names = <%- JSON.stringify(branch_sales) %>;
  const yBranchModel_values = [<%- branch_sales_count %>];

  const xModel_sale_names = <%- JSON.stringify(msale_names) %>;
  const yModel_sale_values = [<%- msale_count %>];

  const barColors = ["red", "green","blue","orange","brown"];

new Chart("chart1", {
  type: "doughnut",
  data: {
    labels: xBranch_names,
    datasets: [{
      backgroundColor: barColors,
      data: yBranch_values
    }]
  },
  options: {
    legend: {display: true},
    title: {
      display: true,
      text: "Branches And Total Mercedes Count"
    }
  }

  
});

new Chart("chart2", {
  type: "bar",
  data: {
    labels: xModel_names,
    datasets: [{
      backgroundColor: barColors,
      data: yModel_values
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Count of Models Across All Branches"
    }
  } 
});

new Chart("chart3", {
  type: "bar",
  data: {
    labels: xBranch_sale_names,
    datasets: [{
      backgroundColor: barColors,
      data: yBranchModel_values
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Branches And Total Sales"
    }
  } 
});

new Chart("chart4", {
  type: "pie",
  data: {
    labels: xModel_sale_names,
    datasets: [{
      backgroundColor: barColors,
      data: yModel_sale_values
    }]
  },
  options: {
    legend: {display: true},
    title: {
      display: true,
      text: "Sales By Mercedes Model"
    }
  } 
});
</script>
