<%- include('../mainpage/mainpage.ejs',{role:user_role}) %>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
<div class="row justify-content-center ml-4 pt-2">
  <div class="col-md-2 col-lg-2 card m-1" style="height: 80px; font-size: 20px; font-family: 'Courier New', Courier, monospace;">
      <div class="row justify-content-center text-success">
        Total Branches
      </div>
      <div class="row justify-content-center" style="font-size: 30px; font-weight: bolder; color:#c89b3f;">
        <%- stats[0]['count'] %>
      </div>
  </div>

  <div class="col-md-2 col-lg-2 card m-1" style="height: 80px; font-size: 20px; font-family: 'Courier New', Courier, monospace;">
    <div class="row justify-content-center text-success">
      Total Mercedes
    </div>
    <div class="row justify-content-center" style="font-size: 30px; font-weight: bolder; color:#c89b3f;">
      <%- stats[1]['count'] %>
    </div>
  </div>
  <div class="col-md-2 col-lg-2 card m-1" style="height: 80px; font-size: 20px; font-family: 'Courier New', Courier, monospace;">
    <div class="row justify-content-center text-success text-bold">
      Total Users
    </div>
    <div class="row justify-content-center" style="font-size: 30px; font-weight: bolder; color:#c89b3f;">
      <%- stats[2]['count'] %>
    </div>
  </div>
  <div class="col-md-2 col-lg-2 card m-1" style="height: 80px; font-size: 20px; font-family: 'Courier New', Courier, monospace;">
    <div class="row justify-content-center text-success">
      Total Sales
    </div>
    <div class="row justify-content-center" style="font-size: 30px; font-weight: bolder; color:#c89b3f;">
      <%- stats[3]['count'] %>
    </div>
</div>

</div>
<div class="row justify-content-center">
  <div class="col-md-5 col-lg-5 m-1 card">
    <canvas id="chart1" style="width:100%;max-width:600px"></canvas>
  </div>
  <div class="col-md-5 col-lg-5 m-1 card">
    <canvas id="chart2" style="width:100%;max-width:600px"></canvas>
  </div>
</div>
<div class="row justify-content-center">
  <div class="col-md-5 col-lg-5 m-1 card">
    <canvas id="chart3" style="width:100%;max-width:600px"></canvas>
  </div>
  <div class="col-md-5 col-lg-5 m-1 card">
    <canvas id="chart4" style="width:100%;max-width:600px"></canvas>
  </div>
</div>

<script>
  const xBranch_names =  <%- JSON.stringify(branch_names) %>;
  const yBranch_values = [<%- branch_count %>];

  const xModel_names = <%- JSON.stringify(models) %>;
  const yModel_values = [<%- model_count %>];

  const xBranch_sale_names = <%- JSON.stringify(branch_sales) %>;
  const yBranchModel_values = [<%- branch_sales_count %>];

  const xModel_sale_names = <%- JSON.stringify(msale_names) %>;
  const yModel_sale_values = [<%- msale_count %>];

  const barColors = ["red", "green","blue","orange","brown"];

new Chart("chart1", {
  type: "doughnut",
  data: {
    labels: xBranch_names,
    datasets: [{
      backgroundColor: barColors,
      data: yBranch_values
    }]
  },
  options: {
    legend: {display: true},
    title: {
      display: true,
      text: "Branches And Total Mercedes Count"
    }
  }

  
});

new Chart("chart2", {
  type: "bar",
  data: {
    labels: xModel_names,
    datasets: [{
      backgroundColor: barColors,
      data: yModel_values
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Count of Models Across All Branches"
    }
  } 
});

new Chart("chart3", {
  type: "bar",
  data: {
    labels: xBranch_sale_names,
    datasets: [{
      backgroundColor: barColors,
      data: yBranchModel_values
    }]
  },
  options: {
    legend: {display: false},
    title: {
      display: true,
      text: "Branches And Total Sales"
    }
  } 
});

new Chart("chart4", {
  type: "pie",
  data: {
    labels: xModel_sale_names,
    datasets: [{
      backgroundColor: barColors,
      data: yModel_sale_values
    }]
  },
  options: {
    legend: {display: true},
    title: {
      display: true,
      text: "Sales By Mercedes Model"
    }
  } 
});
</script>
